.menubar-container {
  position: absolute;
  top: 4rem;
  width: 100%;
  background: transparent;
}
.menubar-container > div {
  width: 100%;
  display: flex;
  margin-left: 10rem;
}
.menubar-container > div > a {
  text-decoration: none;
  color: var(--white-color);
  padding: 1rem;
  margin-right: 10rem;
  text-transform: uppercase;
  color: var(--white-color);
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our-products {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--white-color);
}
.our-products > div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .menubar-container > div {
    flex-direction: column;
    width: 100vw;
    display: flex;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
  .menubar-container > div > a {
    margin: 1rem 0;
  }
  .our-products {
    border: none;
  }
  #product-list {
    display: none;
  }
}
